@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
}
.dark {
  background-color: #131417;
  transition: 0.2s all;
}
.light {
  background-color: #ffffff;
  transition: 0.2s all;
}
.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
}
.home {
  /* background: rgb(37, 45, 60);
  background: radial-gradient(
    circle,
    rgba(37, 45, 60, 1) 0%,
    rgba(15, 19, 16, 1) 100%
  ); */
  width: 90%;
  margin: 0 auto;
}
/* .imgBox {
  width: 272px;
  height: 272px;
} */
input {
  border: none;
  outline: none;
}
.rs-theme-dark hr {
  border-top: 1px solid #333 !important;
}
.rs-theme-dark header {
  border-bottom: 1px solid #333;
}
.modalAlertBody {
  display: flex;
  align-items: center;
}

.modalAlertBody p {
  margin-left: 9px;
  font-size: 16px;
}

/** START HEADER STYLE **/

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid #e5e5ea;
  width: auto;
  min-height: 100px;
  overflow: hidden;
}

.head-top {
  width: 100%;
  display: flex;
}
.top-left {
  width: 82%;
}
.top-right {
  width: 16%;
  display: flex;
  justify-content: space-evenly;
}
.head-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
}
.bottom-right {
  width: 5%;
}
.bottom-left {
  width: 95%;
}
.ml-10 {
  margin-left: 10px;
}
.p-10 {
  padding: 10px;
}
.w-full {
  width: 100%;
}
.overflow-none {
  overflow-x: hidden !important;
}
.rs-picker-toggle-wrapper {
  margin: 0 10px;
}

header .title h1 {
  font-size: 40px;
}

header .search {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}
.avatar {
  width: 30px;
  height: 30px;
  margin: -30px 0 0 0px;
  border-radius: 100%;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.8), 0 4px 5px rgba(107, 5, 0, 0.6),
    0 0 80px 32px rgba(255, 255, 255, 0.25);
  background-size: contain;
  position: relative;
  top: 17px;
  left: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  background-size: contain;
  z-index: 1;
  color: black;
}
.rs-theme-dark .avatar {
  background-color: black;
  color: white;
}
.avatar .bike,
.avatar .car {
  transform: scale(1.5);
}
.sort,
.theme {
  background-color: transparent;
  transform: scale(1.5);
  transition: all 1s ease-in-out;
}
.rs-theme-dark .theme svg {
  color: #ffc107;
}

.rs-theme-light .theme svg {
  color: #673ab7;
}

/* Create Post */
.createPost {
  border-radius: 5px;
  padding: 0 !important;
  margin: 15px auto;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}
.rs-theme-dark .createPost {
  border: 1px solid #404040;
}
.createPost .rs-panel-body {
  padding: 0;
}
.createPost .rs-form {
  padding: 20px;
}
.createPost .rs-form-horizontal .rs-form-group .rs-form-control-label {
  text-align: left !important;
  width: 100%;
}
.createPost .min-w-430.ml-0 {
  min-width: 430px;
  margin-left: 0;
}
.createPost .min-w-430 {
  min-width: 430px;
}

.required {
  color: red;
  font-size: 16px;
  margin-left: 3px;
  font-weight: 100;
}
.required svg {
  transform: translateX(-20px);
  color: transparent;
}
.popover {
  transform: translateX(-17px);
}

.pointer {
  cursor: unset !important;
}
.createPost .rs-btn-toolbar.rs-stack {
  justify-content: end;
}
.createPost .rs-form:not(.rs-form-inline) .rs-form-group:not(:last-child) {
  margin-bottom: 18px;
}

.col {
  width: 100%;
  padding: 0;
}
.posts {
  margin-top: 15px;
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 40px;
  align-content: center;
  justify-content: center;
}

.posts .post {
  cursor: pointer;
}
.posts .post:hover {
  transform: scale(1.05);
  transition: all 0.3s;
}

.toggleBtn {
  cursor: pointer;
  border: none !important;
}
.toggleBtn button {
  z-index: 10;
  cursor: pointer;
  border-radius: 50%;
  padding: 2px !important;
  transform: translate(10px, -100px);
  width: 23px;
  height: 23px;
  outline: none !important;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}
.errStyle {
  color: #da3333;
  border-radius: 4px;
  border-top-left-radius: 0;
  font-size: 12px;
  transform: translateY(-10px);
}
.errInput {
  border-color: #da3333 !important;
}
.tooltipCustom {
  background-color: transparent !important;
  border: 1px solid #da3333;
  color: #da3333 !important;
  border-radius: 4px;
}
.rs-theme-dark .page-link,
.rs-theme-dark .page-item.disabled .page-link {
  background-color: #252830;
}
.rs-theme-dark .page-link:hover {
  background-color: #42454d !important;
}
.filterBtn {
  height: 36px !important;
  width: 120px;
}
.rs-theme-dark .filterBtn.blue {
  background-color: transparent !important;
  border: 1px solid #6576d8 !important;
  color: #6576d8 !important;
}
.rs-theme-dark .filterBtn.blue:hover {
  font-weight: bold;
  transform: scale(1.05);
  transition: 0.2s all;
}
.blue {
  background-color: #1675e0;
}
/** END POSTS STYLE **/

@media screen and (max-width: 768px) {
  .posts {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .posts {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* SideBar */
.rs-sidenav-default {
  color: #8a8a8a !important;
}
/* .sidebar {
  width: 260px;
} */
.sidebar nav {
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.1) !important;
  /* background: rgb(37, 45, 60);
  background: radial-gradient(
    circle,
    rgba(37, 45, 60, 1) 0%,
    rgba(15, 19, 16, 1) 100%
  ); */
}
.rs-sidenav-item {
  background: transparent;
}
.rs-sidenav-collapse-out .rs-sidenav-item svg {
  transform: translate(-35px, 3px);
}
.rs-sidenav-collapse-out .dashboardIcon img {
  transform: translateX(-45px);
}
.dashboardIcon {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  padding-left: 56px;
  overflow: hidden;
}
.rs-sidenav-collapse-in .rs-sidenav-item svg {
  margin-right: 10px;
}
.rs-sidenav-collapse-in .rs-sidenav-item {
  display: flex;
  padding-top: 20px !important;
}

.page {
  justify-content: center;
}
.sidebar hr {
  margin-top: 0;
  margin-bottom: 0;
}

/* Modal Btn Style */
.btnStepOne {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 15px;
}
.btnStepOne button {
  min-width: 80px;
  transition: all 0.3s ease-out;
}
.btnStepTwo .close,
.btnStepOne .close {
  border: 1px solid darkgray;
}
.btnStepTwo .close:hover,
.btnStepOne .close:hover {
  font-weight: bold;
}

.btnStepOne .edit {
  background-color: orange;
  color: black;
}

.btnStepOne .edit:hover {
  background-color: transparent;
  border: 1px solid orange;
  color: white;
  font-weight: bold;
}
.btnStepTwo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 15px;
}

.btnStepTwo button {
  min-width: 80px;
  transition: all 0.3s ease-out;
}

.btnStepTwo .cancel {
  border: 1px solid #ccc;
  color: white;
}
.btnStepTwo .cancel:hover {
  background-color: transparent;
  color: #acacac;
  font-weight: bold;
}
.btnStepTwo .save {
  background: #03a9f4;
  color: white;
}
.btnStepTwo .save:hover {
  font-weight: bold;
  background: transparent;
  color: #03a9f4;
  border: 1px solid #03a9f4;
  transition: all 0.3s ease-out;
}
.btnStepOne .editIcon,
.btnStepTwo .saveIcon,
.btnStepTwo .removeIcon {
  transform: scale(1.2);
  margin: 0px 0px 3px 3px;
}
.btnStepTwo .remove {
  background-color: #da3333;
  border: 1px solid #da3333;
  color: white;
}
.btnStepTwo .remove:hover {
  background-color: transparent;
  color: #da3333;
}

.rs-pagination {
  margin-bottom: 20px !important;
}

/* ScrollBar */

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 0px;
  background: #252830;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #373b45;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #414652;
}
