@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
}
.dark {
  background-color: #131417;
  transition: 0.2s all;
}
.light {
  background-color: #ffffff;
  transition: 0.2s all;
}
.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  /* height: 100vh; */
}
.home {
  width: 90%;
  margin: 0 auto;
}
input {
  border: none;
  outline: none;
}
.rs-theme-dark hr {
  border-top: 1px solid #333 !important;
}
.rs-theme-dark header {
  border-bottom: 1px solid #333;
}

/** START HEADER STYLE **/

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid #e5e5ea;
  width: auto;
  min-height: 112px;
  overflow: hidden;
}

.head-top {
  width: 100%;
  display: flex;
}
.top-left {
  width: 82%;
}
.top-right {
  width: 16%;
  display: flex;
  justify-content: space-evenly;
}
.head-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  margin-top: 0;
}
.bottom-right {
  width: 1%;
  margin-right: 4%;
}
.bottom-left {
  width: 99%;
}
.ml-10 {
  margin-left: 10px;
}
.p-10 {
  padding: 10px;
}
.w-full {
  width: 100%;
}
.overflow-none {
  overflow-x: hidden !important;
}
.rs-picker-toggle-wrapper {
  margin: 0 10px;
}

header .title h1 {
  font-size: 40px;
}

header .search {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}
.avatar {
  width: 30px;
  height: 30px;
  margin: -15px 0 0 0px;
  border-radius: 100%;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.8), 0 4px 5px rgba(107, 5, 0, 0.6),
    0 0 80px 32px rgba(255, 255, 255, 0.25);
  background-size: contain;
  position: relative;
  top: 1px;
  left: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  background-size: contain;
  z-index: 1;
  color: black;
}
.rs-theme-dark .avatar {
  background-color: black;
  color: white;
}
.avatar .bike,
.avatar .car {
  transform: scale(1.5);
}
.theme {
  background-color: transparent;
  transform: scale(1.5);
  transition: all 1s ease-in-out;
}
.rs-theme-dark .page-item.active .page-link {
  background-color: #92211b;
}
.light .page-item.active .page-link {
  background-color: #d86760;
}
.dark .rs-picker-toggle.rs-btn.rs-btn-default {
  background-color: #252830 !important;
  border-color: #333641 !important;
}
.dark .rs-picker-menu .rs-picker-search-bar .rs-picker-search-bar-input,
.dark .rs-picker-menu.rs-picker-check-menu,
.dark .rs-picker-menu.rs-picker-select-menu {
  background-color: #252830 !important;
}
.dark .rs-picker-menu .rs-picker-search-bar .rs-picker-search-bar-input {
  border-color: #333641 !important;
}
.dark .rs-checkbox-wrapper .rs-checkbox-inner:befores {
  border: 1px solid #333641 !important;
}
.dark .rs-dropdown-item.rs-dropdown-item-focus,
.dark .rs-dropdown-item:focus-visible,
.dark .rs-check-item.rs-check-item-focus,
.dark .rs-check-item:focus,
.dark .rs-check-item:not(.rs-checkbox-disabled):hover {
  background-color: #32353b !important;
}
.dark .rs-check-item .rs-checkbox-checker > label {
  color: #8e8e93 !important;
}
/** END HEADER STYLE **/
.col {
  width: 100%;
  padding: 0;
}
.posts {
  margin-top: 30px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 40px;
  align-content: center;
  justify-content: center;
}

.posts .post {
  cursor: pointer;
}
.posts .post:hover {
  transform: scale(1.05);
  transition: all 0.3s;
}

.toggleBtn {
  cursor: pointer;
  border: none !important;
}
.toggleBtn button {
  z-index: 10;
  cursor: pointer;
  /* border: 1px solid #252830; */
  border-radius: 50%;
  padding: 2px !important;
  transform: translateX(10px);
  /* background-color: #252830 !important; */
  width: 23px;
  height: 23px;
  outline: none !important;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.pagination {
  justify-content: center;
}
.rs-theme-dark .page-link,
.rs-theme-dark .page-item.disabled .page-link {
  background-color: #252830;
}
.light .page-link,
.light .page-item.disabled .page-link {
  background-color: #dadada;
  color: #333;
}
.light .page-link:hover {
  color: #333;
  background-color: #eee !important;
}
.rs-theme-dark .page-link:hover {
  background-color: #42454d !important;
}
.filterBtn {
  height: 36px !important;
  width: 120px;
}
.rs-theme-dark .filterBtn.blue {
  background-color: transparent !important;
  border: 1px solid #34c3ff !important;
  color: #34c3ff !important;
}
.red {
  color: red;
}
.blue {
  background-color: #1675e0;
}
/** END POSTS STYLE **/

@media screen and (max-width: 768px) {
  .posts {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .posts {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* SideBar */
.rs-sidenav-default {
  color: #8a8a8a !important;
}
.rs-sidenav.rs-sidenav-default.rs-sidenav-collapse-out
  .rs-sidenav-nav
  > .rs-dropdown
  .rs-dropdown-toggle
  > .rs-icon:not(.rs-dropdown-toggle-caret),
.rs-sidenav-nav > .rs-sidenav-item > .rs-icon:not(.rs-dropdown-toggle-caret) {
  margin-left: 0 !important;
}
.sidebar nav {
  height: 100%;
  /* background-color: #1e1f26; */
  border-right: 1px solid rgba(0, 0, 0, 0.1) !important;
}
.rs-sidenav-nav
  > .rs-dropdown
  .rs-dropdown-toggle
  > .rs-icon:not(.rs-dropdown-toggle-caret),
.rs-sidenav-nav > .rs-sidenav-item > .rs-icon:not(.rs-dropdown-toggle-caret) {
  margin-left: 3px !important;
  top: 18px !important;
}
.dashboardIcon.rs-sidenav-item.rs-sidenav-item-active {
  padding-top: 30px;
  padding-left: 40px;
  padding-bottom: 35px;
}
.rs-sidenav.rs-sidenav-default.rs-sidenav-collapse-out .dashboardIcon p {
  transform: translateX(25px);
}
.rs-sidenav.rs-sidenav-default.rs-sidenav-collapse-in .dashboardIcon {
  display: flex !important;
  justify-content: center;
  align-items: center;
  padding-bottom: 0;
}
.rs-sidenav.rs-sidenav-default.rs-sidenav-collapse-out
  .dashboardIcon
  .rs-sidenav-item-icon {
  transform: translateX(-36px);
  transition: all 0.5s ease-in-out !important;
}
.dashboardIcon .rs-sidenav-item-icon {
  margin-right: 10px;
  margin-left: 19px;
}
.page {
  justify-content: center;
}
.head .rs-panel-header {
  padding-top: 5px;
}

/* Modal Btn Style */
.btnStepOne {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 15px;
}
.btnStepOne button {
  min-width: 80px;
  transition: all 0.3s ease-out;
}
.btnstepTwo .close,
.btnStepOne .close {
  border: 1px solid darkgray;
}
.btnstepTwo .close:hover,
.btnStepOne .close:hover {
  font-weight: bold;
}

.btnStepOne .edit {
  background-color: orange;
  color: black;
}

.btnStepOne .edit:hover {
  background-color: transparent;
  border: 1px solid orange;
  color: white;
  font-weight: bold;
}
.btnstepTwo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 15px;
}

.btnstepTwo button {
  min-width: 80px;
  transition: all 0.3s ease-out;
}

.btnstepTwo .cancel {
  border: 1px solid #da3333;
  color: white;
}
.btnstepTwo .cancel:hover {
  background-color: transparent;
  color: #da3333;
  font-weight: bold;
}
.btnstepTwo .save {
  background: #03a9f4;
  color: white;
}
.btnstepTwo .save:hover {
  font-weight: bold;
  background: transparent;
  color: #03a9f4;
  border: 1px solid #03a9f4;
  transition: all 0.3s ease-out;
}

/* ScrollBar */

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 0px;
  background: #252830;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #373b45;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #414652;
}
